<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
</head>
<body>
    <h1>Post Information</h1>
    <ul>
        <li>Title: {{post.title}}</li>
        <li>Content: {{post.content}}</li>
        <li>Created at: {{post.created_at}}</li>
    </ul>
<h1>Post Reviews:</h1>
{% if reviews %}
    {% for review in reviews %}
        <ul>
            <li>
                {{review.content}}
            </li>
        </ul>
    {% endfor %}
{% else %}
    <h4>This post has no reviews</h4>
{% endif %}
    <footer>
{% if request.session.username %}
        <a href="{% url 'blog:delete_post' id=post.id%}"><button>Delete post</button></a>
        <br>
        <a href="{% url 'blog:edit_post' id=post.id %}"><button>Edit post</button></a>
        <br>
{% endif %}
        <a href="{% url 'blog:review' post_id=post.id %}"><button>Comment</button></a>
        <br>
        <a href="{% url 'blog:home' %}"><button>Back</button></a>
    </footer>
</body>
</html>